{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
{% for people in peoples %}
{% if auth.phone == people.phone and people.role.name == "Администратор" %}
<span>Информация о карте</span>
<div>
    <div class="flex flex-col">
        <span>Владелец карты: {{ card.people.name }}</span>
        <span>Код карты: {{ card.code }}</span>
        <span>Дата активации: {{card.activate_date}}</span>
        <span>Дата деактивации: {{card.deactivate_date}}</span>
        <span>Статус: {{ card.status }}</span>
    </div>
    <td><a class="btn btn-warning" href="/pages/card/edit/{{card.id}}">Изменить</a></td>
    <td><a class="btn btn-danger" href="/pages/card/delete/{{card.id}}">Удалить</a>
    <td><a href="/pages/cards">Вернуться к списку</a></td>
</div>
{% elif auth.phone == people.phone and people.role.name != "Администратор" %}
<span>У вас недостаточно прав для изменения записей</span>
{% endif %}
{% endfor %}
{% endblock %}