{% extends "base.html" %}

{% block head %}
<meta http-equiv="Refresh" content="60"/>
<script>
    const BetweenTime = () => {

        start_dt = document.getElementById("start_dt").value
        end_dt = document.getElementById("end_dt").value
        door_id = document.getElementById("door_id").value

        path = `/pages/logs/child_door=${door_id}?start_dt=${start_dt}&end_dt=${end_dt}`
        console.log(start_dt, end_dt)
        window.location.href = path
    }

    const toDiagramm = () => {
        door_id = document.getElementById("door_id").value
        path = `/pages/logs/diagramm/child_door=${door_id}?start_dt=2000-01-01T00:00&end_dt=2001-01-01T00:00`;
        window.location.href = path;
    }
</script>
{% endblock %}

{% block content %}
{% for people in peoples %}
{% if auth.phone == people.phone and people.role.name == "Администратор"%}
{% set count = [] %}
<div class="flex justify-center flex-col items-center">
    <span>Журнал по роли</span>
    <p>Начальная дата: <input id="start_dt" type="datetime-local"></p>
    <p>Конечная дата: <input id="end_dt" type="datetime-local"></p>
    <p>Шкафчик <select id="door_id">
        {% for kid in kids %}
            {% if kid.door.door_num != "000" %}
                <option value="{{kid.door.id}}">
                    {{kid.door.door_num}}
                </option>
            {% endif %}
        {% endfor %}
    </select>
    </p>
    <button onclick="BetweenTime()">Сортировать по времени и кабинету</button>
    <a href="/pages/logs">Перейти ко всем логам</a>
    {% for log in logs %}
        {% set count = count.append(log) %}
        <div class="flex rounded-3 border-2 p-3 mt-5">
             <div class="flex flex-col">
                <td><a href="/pages/log/{{log.id}}">ID: {{log.id}}</a></td>
                <span>Карта: {{ log.id_card }}</span>
                <span class="text-lg">Считыватель: {{ log.id_reader }}</span>
                <span type="datetime-local">Дата: {{log.date}}</span>
            </div>
        </div>
     {% endfor %}
    <span>Количество записей: {{count|length}}</span>
    <button onclick="toDiagramm()">Построить график посещаемости</button>
</div>
{% elif auth.phone == people.phone and people.role.name != "Воспитатель" or people.role.name != "Администратор" %}
<span>Недостаточно прав для просмотра данной страницы</span>
{% endif %}
{% endfor %}
{% endblock %}
