{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
{% for people in peoples %}
{% if auth.phone == people.phone and people.role.name == "Администратор" %}
<span>Родитель-ребенок</span>
<div>
    <div class="flex flex-col">
        <span>Ребенок: {{ pch.child.name }}</span>
        <span>Родитель: {{ pch.people.name }}</span>
    </div>
    <td><a class="btn btn-warning" href="/pages/people_ch/edit/{{pch.id}}">Изменить</a></td>
    <td><a class="btn btn-danger" href="/pages/people_ch/delete/{{pch.id}}">Удалить</a>
    <td><a href="/pages/people_chs">Вернуться к списку</a></td>
</div>
{% elif auth.phone == people.phone and people.role.name != "Администратор" %}
<span>У вас недостаточно прав для изменения записей</span>
{% endif %}
{% endfor %}
{% endblock %}