{% extends "base.html" %}

{% block head %}
<script>
    const operationEdit = () => {

        id = document.getElementById("pch_id").textContent
        let pch = {
            people_id: document.getElementById("people_id").value,
            child_id: document.getElementById("kid_id").value
        };
        console.log(pch)
        
        let response = fetch(`/people_child/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(pch)
        });

        window.location.href = `/pages/people_chs/${id}`
    }
</script>
{% endblock %}

{% block content %}
{% for people in peoples %}
{% if auth.phone == people.phone and people.role.name == "Администратор" %}
<span>Изменение записи</span>
<div>
    <div class="flex flex-col">
        <span hidden id="pch_id">{{pch.id}}</span>
        <a>Ребенок <select id="kid_id">
            {% for kid in kids %}
            <option value="{{kid.id}}">{{kid.name}}</option>
            {% endfor%}
        </select></a>
        <a>Родитель <select id="people_id">
            {% for people in peoples %}
            <option value="{{people.id}}">{{people.name}}</option>
            {% endfor%}
        </select></a>
    </div>
    <button onclick="operationEdit()">Изменить</button>
    <td><a class="btn btn-danger" href="/pages/people_ch/{{pch.id}}">Отмена</a></td>
</div>
{% elif auth.phone == people.phone and people.role.name != "Администратор" %}
<span>У вас недостаточно прав для изменения записей</span>
{% endif %}
{% endfor %}
{% endblock %}
