{% extends "base.html" %}

{% block head %}
<script>
    const operationEdit = () => {

        let id = document.getElementById("people_id").textContent  
        let people = {
            name: document.getElementById("people_name").value, 
            phone: document.getElementById("people_phone").value,
            role_id: document.getElementById("role_id").value
        };
        
        let response = fetch(`/people/${id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(people)
        });


    }
</script>
{% endblock %}

{% block content %}
<span>Изменение записи</span>
<div>
    <div class="flex flex-col">
        <span hidden id="people_id">{{people.id}}</span>
        <a>ФИО <input id="people_name" type="text" class="text-lg" minlength="5" maxlength="50" value="{{people.name}}"></a>
        <a>Номер телефона <input id="people_phone" type="text" class="text-lg" maxlength="10" value="{{people.phone}}"></a>
        <a>Роль<select id="role_id">
            {% for role in roles %}
            <option value="{{role.id}}">{{role.name}}</option>
            {% endfor %}
        </select></a>
    </div>
    <button onclick="operationEdit()">Изменить</button>
    <td><a class="btn btn-danger" href="/pages/people/{{people_id}}">Отмена</a></td>
</div>
{% endblock %}