{% extends "base.html" %}

{% block head %}
<script>
    const operationDelete = () => {
        let id = document.getElementById("people_id").textContent
        let people = {
            id: document.getElementById("people_id").textContent
        };

        let response = fetch(`/people/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(people)
        });

        window.location.href = "/pages/peoples"
    }
</script>
{% endblock %}

{% block content %}
{% for ppl in peoples %}
{% if auth.phone == ppl.phone and ppl.role.name == "Администратор" %}
<span>Удаление записи</span>
<div>
    <div class="flex flex-col">
        <span hidden id="people_id">{{people.id}}</span>
        <span>Имя: {{ people.name }}</span>
        <span class="text-lg">Номер телефона: {{ people.phone }}</span>
        <span class="text-lg">Роль: {{ people.role.name }}</span>
    </div>
    <button onclick="operationDelete()">Удалить</button>
    <td><a href="/pages/people/{{people.id}}">Отмена</a></td>
</div>
{% elif auth.phone == ppl.phone and ppl.role.name != "Администратор" %}
<span>Недостаточно прав для удаления</span>
{% endif %}
{% endfor %}
{% endblock %}
