{% extends "base.html" %}

{% block head %}
<script>
    const operationCreate = () => {
   
        let cabinet = {
            name: document.getElementById("group_name").value,
            cabinet_id: document.getElementById("cab_id").value
        };

        let response = fetch(`/group`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(cabinet)
        });
        
        window.location.href = `/pages/groups`
    }
</script>
{% endblock %}

{% block content %}
{% for people in peoples %}
{% if auth.phone == people.phone and people.role.name == "Администратор" %}
<span>Добавление записи</span>
<div>
    <div class="flex flex-col">
        <a>Название: <input id="group_name" type="text" class="text-lg" maxlength="15" placeholder="Название группы"></a>
        <a>Кабинет<select id="cab_id">
            {% for cab in cabs %}
            {% if cab.num_cabinet !="000" %}
            <option value="{{cab.id}}">{{cab.num_cabinet}}</option>
            {% endif %}
            {% endfor %}
        </select></a>
    </div>
    <button onclick="operationCreate()">Создать</button>
    <td><a class="btn btn-danger" href="/pages/groups">Отмена</a></td>
</div>
{% elif auth.phone == people.phone and people.role.name != "Администратор" %}
<span>У вас недостаточно прав для создания записей</span>
{% endif %}
{% endfor %}
{% endblock %}