{% extends "base.html" %}

{% block head %}
<script>
    const operationDelete = () => {
        let id = document.getElementById("group_id").textContent
        let group = {
            id: document.getElementById("group_id").textContent
        };

        let response = fetch(`/group/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(group)
        });

        window.location.href = "/pages/cabinets"
    }
</script>
{% endblock %}

{% block content %}
{% for people in peoples %}
{% if auth.phone == people.phone and people.role.name == "Администратор" %}
<span>Удаление записи</span>
<div>
    <div class="flex flex-col">
        <span hidden id="group_id">{{group.id}}</span>
        <span>Название: {{ group.name }}</span>
        <span>Кабинет: {{ group.cabinet.num_cabinet }}</span>
        <span>Воспитатели:
            {% for i in group.group_p %}
                <span>{{i.people.name}}</span>
            {% endfor%}
        </span>
    </div>
    <button onclick="operationDelete()">Удалить</button>
    <td><a class="btn btn-danger" href="/pages/group/{{group.id}}">Отмена</a></td>
</div>
{% elif auth.phone == people.phone and people.role.name != "Администратор" %}
<span>Недостаточно прав для удаления</span>
{% endif %}
{% endfor %}
{% endblock %}